
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShenBaoLuJing</title>
    <link href="~/Content/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.bsgrid-1.37/merged/bsgrid.all.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.bsgrid-1.37/css/skins/grid_bootstrap.min.css" rel="stylesheet" />
    <style>
        .container {
            width: 100%;
        }
        .tuot {
            background-color: #74abd4;
               /*-webkit- google*/  
            background: -webkit-linear-gradient(top,#86b6dc 0,#8ab5d5 30%,#72a7d1 50%,#68a6d5 100%);
              /*-moz- 火狐*/
            background: -moz-linear-gradient(top,#86b6dc 0,#8ab5d5 30%,#72a7d1 50%,#68a6d5 100%);
              /*-o- OPERA*/
            background: -o-linear-gradient(top,#86b6dc 0,#8ab5d5 30%,#72a7d1 50%,#68a6d5 100%);
            background: linear-gradient(top,#86b6dc 0,#8ab5d5 30%,#72a7d1 50%,#68a6d5 100%);
            background-repeat: repeat-x;
           /*IE*/
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#86b6dc,endColorstr=#68a6d5,GradientType=0);
        }

        #FormTiaoJianChaXun select,#FormTiaoJianChaXun input{
            height:38px;
        }
        #FormTiaoJianChaXun label{
            padding:9px;
        }

        #FormPath select,#FormPath input{
            height:38px;
        }
        #FormPath label{
            padding:9px;
        }

        #FormUpPath select,#FormUpPath input{
            height:38px;
        }
        #FormUpPath label{
            padding:9px;
        }

        #FormDeclare select,#FormDeclare input{
            height:38px;
        }
        #FormDeclare label{
            padding-top:9px;
        }

        #FormUpXianShi input{
            height:38px;
        }
        #FormUpXianShi label{
            padding:9px;
        }
    </style>   
</head>
<body>
    <div class="container">
        <div class="row" id="ShenBaoLuJingChuangTi">
            <div class="col-lg-12 col-md-12 col-sm-12" style="border:2px solid #e1edee;padding:0; height:600px;">
                <div class="col-lg-12 col-md-12 col-sm-12 text-left tuot" style="height:50px;background-color:#64b6ed;">
                    <h4><i class="glyphicon glyphicon-tree-conifer" style="color:green;"></i>申报路径申请</h4>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12" style="height:100px; border-top:2px solid #e1edee;border-bottom:2px solid #e1edee">
                    <form class="form-horizontal" id="FormTiaoJianChaXun">
                        <div class="form-group" style="margin-top:5px;">
                            <div class="col-lg-offset-1 col-lg-4 col-md-4 col-sm-4 text-right" style="margin-left:-1px;">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <label class="control-label"  style="font-weight:lighter;">系列名称：</label>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 reset">
                                        <select class="form-control" id="DeclareSeriesID" name="DeclareSeriesID"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-offset-1 col-lg-4 col-md-4 col-sm-4 text-right" style="margin-left:-1px;">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <label class="control-label"  style="font-weight:lighter;">等级：</label>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 reset">
                                        <select class="form-control" id="DeclareGradeID" name="DeclareGradeID"></select>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <div class="form-group" style="margin-top:5px;">
                            <label class="control-label col-lg-2 col-md-2 col-sm-2" style="font-weight:lighter;">审核单位：</label>
                            <div class="col-lg-2 col-md-2 col-sm-2">
                                <input type="text" class="form-control" id="ControlUnit" name="ControlUnit" />
                            </div>
                            <label class="control-label col-lg-2 col-md-2 col-sm-2" style="font-weight:lighter;">确认状态：</label>
                            <div class="col-lg-2 col-md-2 col-sm-2">
                                <select class="form-control" id="CommittedStateID" name="CommittedStateID"></select>
                            </div>
                            <div class="text-right" style="margin-right:15px;">
                                <button type="button" class="btn btn-info" id="ShenBaoChaXun" style="background-color:#dfeffc;color:#34759b;font-weight:bold;"><span class="glyphicon glyphicon-search"></span>查询</button>
                                <button type="button" class="btn btn-info" id="QingKongTJ" style="background-color:#dfeffc;color:#34759b;font-weight:bold;"><span class="glyphicon glyphicon-refresh"></span>清空条件</button>
                            </div>
                        </div>
                        <button type="reset" hidden>重置</button>
                    </form>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12" style="height:50px; margin-top:10px;">
                    <div class="text-right">
                        <button class="btn btn-info" id="btnChaXunTJ" style="background-color:#dfeffc;color:#34759b;font-weight:bold;"><span class="glyphicon glyphicon-cog"></span>批量设置</button>
                        <button class="btn btn-info" id="btnXinZeng" style="background-color:#dfeffc;color:#34759b;font-weight:bold;"><span class="glyphicon glyphicon-plus"></span>增加</button>
                        <button class="btn btn-info" id="btnXiuGai" style="background-color:#dfeffc;color:#34759b;font-weight:bold;"><span class="glyphicon glyphicon-pencil"></span>修改</button>
                        <button class="btn btn-info" id="btnShanChu" style="background-color:#dfeffc;color:#34759b;font-weight:bold;"><span class="glyphicon glyphicon-trash"></span>删除</button>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="col-lg-12 col-md-12 col-sm-12 text-left tuot" style="height:30px;">
                        <h5>申报路径列表</h5>
                    </div>
                    <table id="tabShenBaoLuJing" style="width:100%;">
                        <tr>
                            <th w_num="total_line" width="5%">序号</th>
                            <th w_index="DeclarePathID" w_hidden="true">申报路径ID</th>
                            <th w_index="DeclareSeries">系列名称</th>
                            <th w_index="DeclareGrade">等级</th>
                            <th w_index="ControlUnit">审核单位</th>
                            <th w_index="CommittedState">审核单位确认状态</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!--新增申报路径模态窗体-->
    <div class="modal  bs-example-modal-sm" id="modInsertExaminee">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header tuot">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h5 class="modal-title">新增申报路径列表</h5>
                </div>
                <div class="modal-body" style="background-color:#ccd3d2">
                    <form class="form-horizontal" role="form" id="FormPath" action="/UnitHome/SetWay/InsertDeclarePath" method="post">
                        <div class="form-group">
                            <div class="col-lg-3 col-md-3 col-sm-3 text-right">
                                <label class="control-label">系列、等级:</label>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 reset">
                                <select type="text" class="form-control" id="IdDeclareSeriesID" name="DeclareSeriesID"></select>                               
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 reset">
                                <select type="text" class="form-control" id="IdDeclareGradeID" name="DeclareGradeID"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-3 col-md-3 col-sm-3 text-right">
                                <label class="control-label">审核单位:</label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 reset">
                                <input type="text" class="form-control" id="ControlUnit" name="ControlUnit" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-3 col-md-3 col-sm-3 text-right">
                                <label class="control-label">确认状态:</label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 reset">
                                <select type="text" class="form-control" id="IdCommittedStateID" name="CommittedStateID"></select>
                            </div>
                        </div>
                        <div class="form-group" style="padding:10px;">
                            <div class="col-lg-8 col-md-8 col-sm-8 pull-right">
                                <button class="btn btn-primary" type="reset">重置</button>
                                <button class="btn btn-success" type="button" id="btnQueDing">确定</button>
                                <button class="btn btn-danger" data-dismiss="modal">取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--新增申报路径模态窗体-->

    <!--修改申报路径模态窗体-->
    <div class="modal  bs-example-modal-sm" id="UpdatamodInsertExaminee">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header tuot">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h5 class="modal-title">修改申报路径列表</h5>
                </div>
                <div class="modal-body" style="background-color:#ccd3d2">
                    <form class="form-horizontal" role="form" id="FormUpPath" action="/UnitHome/SetWay/UpdataDeclarePath" method="post">
                        <input type="text" class="form-control hidden" id="DeclarePathID" name="DeclarePathID" />
                        <div class="form-group">
                            <div class="col-lg-3 col-md-3 col-sm-3 text-right">
                                <label class="control-label">系列、等级:</label>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 reset">
                                <select type="text" class="form-control" id="idDeclareSeriesID" name="DeclareSeriesID"></select>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 reset">
                                <select type="text" class="form-control" id="idDeclareGradeID" name="DeclareGradeID"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-3 col-md-3 col-sm-3 text-right">
                                <label class="control-label">审核单位:</label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 reset">
                                <input type="text" class="form-control" id="ControlUnit" name="ControlUnit" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-3 col-md-3 col-sm-3 text-right">
                                <label class="control-label">确认状态:</label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 reset">
                                <select type="text" class="form-control" id="idCommittedStateID" name="CommittedStateID"></select>
                            </div>
                        </div>
                        <div class="form-group" style="padding:10px;">
                            <div class="col-lg-8 col-md-8 col-sm-8 pull-right">
                                <button class="btn btn-primary" type="reset">重置</button>
                                <button class="btn btn-success" type="button" id="btnBaoCun">确定</button>
                                <button class="btn btn-danger" data-dismiss="modal">取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--修改申报路径模态窗体-->

    <!--批量设置窗体-->
    <div class="container  hidden" id="Declare">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 tuot" style="height:50px;">
                <h4>系列、等级列表</h4>
            </div>
        </div>
        <div class="row" style="border:2px solid #e1edee;padding:0; height:600px;">
            <div class="col-sm-12 col-md-12 col-lg-12" style="border-top:2px solid #e1edee;border-bottom:2px solid #e1edee; height:50px;">
                <form class="form-horizontal" role="form" id="FormDeclare" action="" method="post" style="margin-top:5px;">
                    <div class="form-group">
                        <div class="col-lg-1 col-md-1 col-sm-1 text-left">
                            <label class="control-label" style="font-weight:lighter;">系列名称</label>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 reset">
                            <input type="text" class="form-control" id="DeclareSeries" name="DeclareSeries" />
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 text-right">
                            <label class="control-label" style="font-weight:lighter;">等级</label>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 reset">
                            <select type="text" class="form-control" id="IDDeclareGradeID" name="DeclareGradeID"></select>
                        </div>
                        <div class="text-left">
                            <button type="button" class="btn btn-info" id="btnChaXunXD" style="background-color:#dfeffc;color:#34759b;font-weight:bold;"><span class="glyphicon glyphicon-search"></span>查询</button>
                            <button type="button" class="btn btn-info" id="btnXianShiQuanBu" style="background-color:#dfeffc;color:#34759b;font-weight:bold;"><span class="glyphicon glyphicon-signal"></span>显示全部</button>
                            <button type="button" class="btn btn-info" id="btnZengJiaLuJing" style="background-color:#dfeffc;color:#34759b;font-weight:bold;"><span class="glyphicon glyphicon-plus"></span>增加路径</button>
                            <button type="button" class="btn btn-info" id="QingKong" style="background-color:#dfeffc;color:#34759b;font-weight:bold;"><span class="glyphicon glyphicon-refresh"></span>清空条件</button>
                            <button type="button" class="btn btn-info" id="btnFanHui" style="background-color:#dfeffc;color:#34759b;font-weight:bold;"><span class="glyphicon glyphicon-share-alt"></span>返回</button>
                        </div>
                    </div>
                    <button type="reset" hidden>重置</button>
                </form>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12" style="margin-top:20px;">
                <div class="col-lg-12 col-md-12 col-sm-12 text-left tuot" style="height:40px;">
                    <h5>系列等级列表</h5>
                </div>
                <table id="tabDeclare" style="margin-top:2px; width:100%;">
                    <tr>
                        <th w_num="total_line" width="5%">序号</th>
                        <th w_check="true" w_index="ID" width="3%;">选择</th>
                        <th w_index="DeclarePathID" w_hidden="true"></th>
                        <th w_index="DeclareSeries" width="20%">系列名</th>
                        <th w_index="DeclareGrade" width="20%">等级</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!--批量设置窗体-->

    <!--增加申报路径模态窗体-->
    <div class="modal  bs-example-modal-sm" id="XianShiQuanBu">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header tuot">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h5 class="modal-title">增加申报路径</h5>
                </div>
                <div class="modal-body" style="background-color:#ccd3d2">
                    <form class="form-horizontal" role="form" id="FormUpXianShi" action="/UnitHome/SetWay/InsertLuJing" method="post">
                        <div class="form-group">
                            <div class="col-lg-3 col-md-3 col-sm-3 text-right">
                                <label class="control-label">系列、等级:</label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 reset">
                                <input type="text" class="form-control" id="SeriesGrade" name="SeriesGrade"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-3 col-md-3 col-sm-3 text-right">
                                <label class="control-label">审核单位:</label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 reset">
                                <input type="text" class="form-control" id="ControlUniter" name="ControlUnit" />
                            </div>
                        </div>
                        <div class="form-group" style="padding:10px;">
                            <div class="col-lg-8 col-md-8 col-sm-8 pull-right">
                                <button class="btn btn-primary" type="reset">重置</button>
                                <button class="btn btn-success" type="button" id="btnZengJia">确定</button>
                                <button class="btn btn-danger" data-dismiss="modal">取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--增加申报路径模态窗体-->

    <script src="~/Content/bootstrap-3.3.7-dist/js/jquery-1.11.2.min.js"></script>
    <script src="~/Content/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="~/Content/jquery.bsgrid-1.37/js/lang/grid.zh-CN.min.js"></script>
    <script src="~/Content/jquery.bsgrid-1.37/merged/bsgrid.all.min.js"></script>
    <script src="~/Content/js/jquery.form.js"></script>
    <script src="~/Content/js/customfunction.js"></script>
    <script src="~/Content/layer/layer.js"></script>
    <script>
        var tabShenBaoLuJing;
        var tabDeclare;
        //申报路径列表
        $(function () {
            tabShenBaoLuJing = $.fn.bsgrid.init('tabShenBaoLuJing', {
                url: '/UnitHome/SetWay/SelectDeclarePath',
                autoLoad: true,
                stripeRows: true,//隔行变色
                rowHoverColor: true,//划过行变色
                rowSelectedColor: true,//是否显示选中行背景色
                pageSize: 5,
                pageSizeSelect: false,//是否选择分页页数下拉框
                pagingLittleToolbar: true,//精简的图标按钮分页工具条
                pagingToolbarAlign: "left",//分页工具条的显示位置
                event: {
                    customRowEvents: {
                        click: function (record, rowIndex, trObj, options) {
                            if (record != null) {
                                DeclarePathID = record.DeclarePathID;
                                $.post("/UnitHome/SetWay/SelectDPath?DeclarePathID=" + DeclarePathID, function (data) {
                                    $('#FormUpPath [name="DeclarePathID"]').val(data.DeclarePathID);//申报路径ID                                   
                                    $.post("/UnitHome/SetWay/SelectSBXiLie",function(jsondata){
                                        selectLoadData("idDeclareSeriesID", jsondata);
                                        $("#idDeclareSeriesID").val(data.DeclareSeriesID);//申报系列ID
                                    });
                                    $.post("/UnitHome/SetWay/SelectSBDengJi", function (jsondata) {
                                        selectLoadData("idDeclareGradeID", jsondata);
                                        $("#idDeclareGradeID").val(data.DeclareGradeID);//等级ID
                                    });
                                    //$('#FormUpPath [name="DeclareSeriesID"]').val(data.DeclareSeriesID);//申报系列ID
                                    //$('#FormUpPath [name="DeclareGradeID"]').val(data.DeclareGradeID);//等级ID
                                    $('#FormUpPath [name="CommittedStateID"]').val(data.CommittedStateID);//确认状态ID
                                    $('#FormUpPath [name="ControlUnit"]').val(data.ControlUnit);//审核单位
                                })
                            }
                        }
                    }
                }
            });
            searchPath();
        });
        
        //下拉框
        $(function () {
            createSelect("DeclareSeriesID", "/UnitHome/SetWay/SelectSBXiLie");//系列名称
            createSelect("DeclareGradeID", "/UnitHome/SetWay/SelectSBDengJi");//等级
            createSelect("CommittedStateID", "/UnitHome/SetWay/SelectQueRenZT");//确认状态
            createSelect("IdDeclareSeriesID", "/UnitHome/SetWay/SelectSBXiLie");//新增列表的系列名称
            createSelect("IdDeclareGradeID", "/UnitHome/SetWay/SelectSBDengJi");//新增列表的等级
            createSelect("IdCommittedStateID", "/UnitHome/SetWay/SelectQueRenZT");//新增列表的确认状态
            createSelect("idDeclareSeriesID", "/UnitHome/SetWay/SelectSBXiLie");//修改列表的系列名称
            createSelect("idDeclareGradeID", "/UnitHome/SetWay/SelectSBDengJi");//修改列表的等级
            createSelect("idCommittedStateID", "/UnitHome/SetWay/SelectQueRenZT");//修改列表的确认状态
            //createSelect("IDDeclareSeriesID", "/UnitHome/SetWay/SelectSBXiLie");//查询列表的系列名称
            createSelect("IDDeclareGradeID", "/UnitHome/SetWay/SelectSBDengJi");//查询列表的等级
        });

        //打开申报路径新增窗体
        $("#btnXinZeng").click(function () {
            $('#formInsertExaminee [type="reset"]').click();//重置表单
            $("#modInsertExaminee").modal("show");
        });

        //打开申报路径修改窗体
        $("#btnXiuGai").click(function () {
            $('#formInsertExaminee [type="reset"]').click();//重置表单
            $("#UpdatamodInsertExaminee").modal("show");
        });

        //申报路径申请新增
        $("#btnQueDing").click(function () {
            var DeclareSeriesID = $('#FormPath [name="DeclareSeriesID"]').val();//系列名称
            var DeclareGradeID = $('#FormPath [name="DeclareGradeID"]').val();//等级
            var CommittedStateID = $('#FormPath [name="CommittedStateID"]').val();//确认状态
            var ControlUnit = $('#FormPath [name="ControlUnit"]').val();//审核单位
            if (DeclareSeriesID > 0 && DeclareGradeID > 0 && CommittedStateID > 0 && ControlUnit != '') {
                var layerIndex = layer.load(0);
                $.getJSON("/UnitHome/SetWay/InsertDeclarePath", {
                    DeclareSeriesID: DeclareSeriesID,
                    DeclareGradeID: DeclareGradeID,
                    CommittedStateID: CommittedStateID,
                    ControlUnit: ControlUnit,
                }, function (msg) {
                    if (msg == "success") {
                        layer.alert("新增成功", { icon: 1, title: '提示' });
                        $('#FormPath [type="reset"]').click();
                        $("#modInsertExaminee").modal("hide");
                        layer.close(layerIndex);
                    } else {
                        layer.alert("新增失败", { icon: 0, title: '提示' });
                        layer.close(layerIndex);
                    }
                })
            } else {
                layer.alert('请填写完整', { icon: 0, title: '提示' });
            }
        });

        //申报路径申请修改
        $("#btnBaoCun").click(function () {
            var idDeclareSeriesID = $('#FormUpPath [name="DeclareSeriesID"]').val();//申报系列ID
            var idDeclareGradeID = $('#FormUpPath [name="DeclareGradeID"]').val();//等级ID
            var ControlUnit = $('#FormUpPath [name="ControlUnit"]').val();//审核单位
            var idCommittedStateID = $('#FormUpPath [name="CommittedStateID"]').val();//确认状态ID
            if (idDeclareSeriesID != '' && idDeclareGradeID != '' && ControlUnit != '' && idCommittedStateID !='') {
                var layerIndex = layer.load(0);//显示 加载层
                //提交表单
                $("#FormUpPath").ajaxSubmit(function (msg) {
                    if (msg == "success") {
                        layer.alert("修改成功", { icon: 1, title: '提示' });
                        $('#FormUpPath [type="reset"]').click();//重置
                        layer.close(layerIndex);//关闭 加载层  
                        $("#UpdatamodInsertExaminee").modal("hide");
                    } else {
                        layer.alert("修改失败", { icon: 0, title: '提示' });
                        layer.close(layerIndex);//关闭 加载层 
                    }
                });
            }
        });

        //申报路径申请删除
        $("#btnShanChu").click(function () {
            var rowIndex = tabShenBaoLuJing.getSelectedRowIndex();
            if (rowIndex > -1) {
                var DeclarePathID = tabShenBaoLuJing.getColumnValue(rowIndex, "DeclarePathID");
                layer.confirm("确认要删除该申报路径信息吗？", {//提示是否确认
                    icon: 3,
                    btn: ['确定', '取消']
                }, function (layerIndex) {
                    layer.close(layerIndex);//关闭提示框
                    $.post("/UnitHome/SetWay/DeleteDeclarePath", { DeclarePathID: DeclarePathID }, function (msg) {
                        tabShenBaoLuJing.refreshPage();//刷新
                        layer.msg(msg, { icon: 1, title: '提示' });//提示是否删除成功
                    })
                })
            }
            else {
                layer.alert('请选择需要删除的申报路径信息', { icon: 0, title: '提示' });
            }
        });

        //清空条件
        $("#QingKongTJ").click(function () {
            $('#FormTiaoJianChaXun [type="reset"]').click();//重置
        });

        //条件查询
        $("#ShenBaoChaXun").click(function () {
            searchPath();
        });
        function searchPath() {
            var controlUnit = $("#ControlUnit").val();
            if (controlUnit == undefined) {
                controlUnit = "";
            }
            var declareSeriesId = $("#DeclareSeriesID").val();
            if (declareSeriesId == "" || declareSeriesId == undefined) {
                declareSeriesId = 0;
            }
            var declareGradeId = $("#DeclareGradeID").val();
            if (declareGradeId == "" || declareGradeId == undefined) {
                declareGradeId = 0;
            }
            var committedStateId = $("#CommittedStateID").val();
            if (committedStateId == "" || committedStateId == undefined) {
                committedStateId = 0;
            }
            tabShenBaoLuJing.search({ controlUnit: controlUnit, declareSeriesId: declareSeriesId, declareGradeId: declareGradeId, committedStateId: committedStateId })
        }



        //批量设置
        $("#btnChaXunTJ").click(function () {
            alert("进行批量设置时，如果存在该路径，则会把以前的路径替换掉：不存在，则会添加新路径；你是否要进行批量设置操作！");  
            $('#FormDeclare [type="reset"]').click();//重置表单
            $("#ShenBaoLuJingChuangTi").addClass("hidden");
            $("#Declare").removeClass("hidden");
        });

        //打开增加申报路径窗体
        $("#btnZengJiaLuJing").click(function () {
            //获取勾选表中的ID
            var DeclarePathID = tabDeclare.getCheckedValues("DeclarePathID");
            $.post("/UnitHome/SetWay/GoXuanXianShiQB", { DeclarePathID: DeclarePathID }, function (data) {
                $("#SeriesGrade").val(data.DeclareSeries + "---" + data.DeclareGrade);//系列、等级的拼接
                $("#ControlUniter").val(data.ControlUnit);//审核单位
            });
            $('#selectVo4 [type="reset"]').click();//重置表单
            $("#XianShiQuanBu").modal("show");
        });

        //增加申报路径保存
        $("#btnZengJia").click(function () {
            var SeriesGrade = $('#FormUpXianShi [name="SeriesGrade"]').val();//系列名称
            var ControlUniter = $('#FormUpXianShi [name="ControlUnit"]').val();//审核单位
            if (SeriesGrade != '' && ControlUniter != '') {
                var layerIndex = layer.load(0);
                $.getJSON("/UnitHome/SetWay/InsertLuJing", { SeriesGrade: SeriesGrade, ControlUnit: ControlUniter, }, function (msg) {
                    if (msg == "success") {
                        layer.alert("成功", { icon: 1, title: '提示' });
                        $('#FormUpXianShi [type="reset"]').click();
                        layer.close(layerIndex);
                    } else {
                        layer.alert("失败", { icon: 0, title: '提示' });
                        layer.close(layerIndex);
                    }
                })
            }
        });

        //返回
        $("#btnFanHui").click(function () {
            $("#Declare").addClass("hidden");//隐藏
            $("#ShenBaoLuJingChuangTi").removeClass("hidden");//打开
        });

        //系列、等级列表
        $(function () {
            tabDeclare = $.fn.bsgrid.init('tabDeclare', {
                url: '/UnitHome/SetWay/SelectDeclare',
                autoLoad: true,
                stripeRows: true,//隔行变色
                rowHoverColor: true,//划过行变色
                rowSelectedColor: true,//是否显示选中行背景色
                pageSize: 5,
                pageSizeSelect: false,//是否选择分页页数下拉框
                pagingToolbarAlign: "left",//工具条显示位置
            });
            searchDeclare();
        });

        //清空条件
        $("#QingKong").click(function () {
            $('#FormDeclare [type="reset"]').click();//重置
        });

        //条件查询
        $("#btnChaXunXD").click(function () {
            searchDeclare();
        });

        //显示全部
        $("#btnXianShiQuanBu").click(function () {
            searchDeclare();
        });

        function searchDeclare() {
            var declareSeries = $("#DeclareSeries").val();
            if (declareSeries == undefined) {
                declareSeries = "";
            }
 
            var declareGradeId = $("#IDDeclareGradeID").val();
            if (declareGradeId == "" || declareGradeId == undefined) {
                declareGradeId = 0;
            }
            tabDeclare.search({ declareSeries: declareSeries, declareGradeId: declareGradeId })
        }
    </script>
</body>
</html>
