
@{
    Layout = null;
}
@using SDZCSBPingShenXT.Vo;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Content/bootstrap-3.3.7-dist/js/jquery-2.0.3.min.js"></script>
    <script src="~/Content/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <title>山东专业技术人员管理平台—职称评审管理系统</title>
    <style type="text/css">
        /*头部*/
        .banner-bg {
            width: 100%;
            height: 55px;
            background-color: #005EA0;
            position: fixed;
            top: 0px;
            left: 0px;
            z-index: 999;
        }

        .logo {
            /*background-image: url("../img/logo.png");*/
            background-repeat: no-repeat;
            width: 936px;
            height: 55px;
            background-position: left;
            float: left;
            padding-top: 15px;
        }

        .right-search {
            width: 264px;
            height: 35px;
            float: right;
            margin-top: 15px;
        }
        /*头部*/

        /*导航条*/
        .container {
            width: 100%;
        }

        .big-div {
            width: 1200px;
            margin: 0 auto;
            text-align: center;
        }

        .margin-top70 {
            background-color: #005EA0;
            height: 37px;
            margin-top: 70px;
            margin-bottom: 15px;
        }

        .banner-write {
            line-height: 37px;
            padding: 0px 35px;
            color: #fff;
            float: left;
            font-size: 14px;
        }

            .banner-write a {
                color: #fff;
                text-decoration: none;
            }

                .banner-write a:hover {
                    text-decoration: none;
                    color: #fcff00;
                }
        /*导航条*/

        /*友情链接*/
        .linkbg {
            background-color: #005ea0;
            height: 83px;
            width: 100%;
        }

        .links-img {
            background-image: url('../../image/links.png');
            width: 228px;
            height: 83px;
            background-repeat: no-repeat;
            margin-left: 47px;
            float: left;
        }

        .links-write {
            font-size: 15px;
            line-height: 83px;
            letter-spacing: 3px;
            font-family: "微软雅黑";
        }

            .links-write a {
                text-decoration: none;
                color: white;
            }
        /*友情链接*/

        /*.imgLogo {
            margin-top: 22px;
            padding-left: 34px;
            padding-bottom: 30px;
            width:300px;
        }*/

        .panel-heading {
            font-size: 24px;
            text-align: center;
            color: #337ab7;
        }

        .panel-body, .panel-body hr {
            padding: 0;
            border-bottom: 3px solid red;
        }

            .panel-body p {
                margin-bottom: 5px;
            }

                .panel-body p span {
                    font-size: 15px;
                }

        hr {            
            margin-top: 0;
            margin-bottom: 10px;
        }

        .next {
            padding: 30px 15px 0 15px;
            font-size: 16px;
        }
    </style>
</head>
<body>
    <div class="container">
        <!--公告详情头部导航条-->
        <div class="row">
            <div class="banner-bg">
                <div class="header-div">
                    <div class="logo">
                        <h3 style="color:white;font-weight:bold;font-size:25px; margin:0; padding-left:75px;">山东省职称申报评审系统</h3>
                    </div>
                    <div class="right-search">
                        <div class="container margin0">
                            <div class="search" id="search">
                                <input id="keywords" name="keywords" class="input" style="border-radius:3px; padding-left:7px;" type="text" placeholder="" x-webkit-speech="">
                                <input class="button" type="submit" onclick="SouSuo()" style="border-radius:2px;" value="搜索">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="big-div margin-top70">
                <div class="banner-write">
                    <a href="/Main/Declares">首页</a>
                </div>
                <div class="banner-write">
                    <a target="_blank" href="/Main/ToZhiGG">通知公告</a>
                </div>
                <div class="banner-write">
                    <a target="_blank" href="/Main/YeWuZhiNan">业务指南</a>
                </div>
                <div class="banner-write">
                    <a target="_blank" href="/Main/XiangGuanZhengCe">相关政策</a>
                </div>
                <div class="banner-write">
                    <a target="_blank" href="/Main/RenZhiZiGeTJ">任职资格条件</a>
                </div>
                <div class="banner-write">
                    <a target="_blank" href="/Main/ChangJianWenTi">常见问题</a>
                </div>
                <div class="banner-write">
                    <a target="_blank" href="/Main/GongZuoLiuChengJS">工作流程介绍</a>
                </div>
                <div class="banner-write">
                    <a target="_blank" href="/Main/LianXiWoMen">关于我们</a>
                </div>
            </div>
        </div>

        <!--公告详情头部图-->
        @*<div class="row imgLogo" style="background-image: url('../../../../image/header-right-bg.png');">
        @*放图片
        <img src="~/image/top_test.gif" width="280" height="110" alt="" />
        </div>*@

        <!--公告详情内容自动生成区代码-->
        @{
            //判断是否出现异常
            if (ViewBag.isErrro == false)//控制器那边刚好相反，没有问题是返回false，有异常返回true，所以这里要改成false
            {
                ANoticeVo notice = ViewBag.notice;//定义一个变量
                                                   // ViewBag.notice要跟控制器那边的一样

                <div class="row">
                    <div class="panel" style="width:1200px;margin-left:80px;"><!--设置了公告详情生成区的宽度-->
                        <div class="panel-heading"><span id="title">@notice.NoticeName</span></div>
                        <div class="panel-body">
                            <p><span id="time">发布时间：@notice.ReleaseTimeStr</span><span id="noticeType" class="pull-right">公告类型：@notice.NoticeTypeName</span></p>
                            <hr />
                            <p id="content">@*公告内容*@
                                @Html.Raw(notice.NoticeContent)
                            </p>
                        </div>
                        <div class="row next">
                            <h2>附件：</h2>
                            @foreach (FilesVo file in ViewBag.files)
                            {
                                @Html.Raw(file.Files);
                            }
                        </div>
                    </div>
                </div>
            }
            else
            {//出现异常就直接打印
                <h2>未找到该公告</h2>
            }
        }
        <!--公告详情内容自动生成区代码-->

        <div class="row">
            <div style="width:1200px;height:100px;margin-left:75px; margin-top:20px;">
                <div class="linkbg">
                    <div class="links-img"></div>
                    <div class="links-write">
                        <a href="http://www.sdhrss.gov.cn/" target="_blank">山东省人力资源和社会保障厅&nbsp;&nbsp;</a>

                        <a href="http://ctisd.com/class-11.html" target="_blank">|&nbsp;&nbsp;山东科技成果网&nbsp;&nbsp;</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="width:1200px; margin-left:60px; border-top:2px solid #00a1fe;height:180px; margin-top:10px; background-color:#cacaca;">
            <div class="copyright" style="margin-top:30px;margin-left:80px;">
                <div class="container" style="height:95px;">
                    <div style="float:left;margin-left:200px;display:inline;width:110px; text-align:center; overflow:hidden;padding-top:12px;">
                        <script id="_jiucuo_" sitecode='3700000027' src='http://pucha.kaipuyun.cn/exposure/jiucuo.js'></script>
                    </div>
                    <div style="float:left;display:inline;width:70px;text-align:center;overflow:hidden;">
                        <script type="text/javascript">document.write(unescape("%3Cspan id='_ideConac' %3E%3C/span%3E%3Cscript src='http://dcs.conac.cn/js/16/000/0000/60418909/CA160000000604189090002.js' type='text/javascript'%3E%3C/script%3E"));</script>
                    </div>
                    <div style="float:left;display:inline;width:500px; text-align:center; overflow:hidden;">
                        <p class="link"><a href="http://www.sdhrss.gov.cn/pages/jiaoliu/jzxx/wyxx_xz.html" style="color:brown;">厅长信箱</a>&emsp;|&emsp;<a href="http://www.sdhrss.gov.cn/pages/zdxxwh/50009.html" style="color:brown;">“庸懒散”专项治理举报电话</a>&emsp;|&emsp;<a href="http://www.sdhrss.gov.cn/pages/zdxxwh/52112.html" style="color:brown;">联系我们</a>&emsp;|&emsp;<a href="http://mail.sdhrss.gov.cn/extmail/cgi/index.cgi" target="_blank" style="color:brown;">邮箱登录</a></p>
                        <p>主办单位：山东人力资源和社会保障厅 版权所有：山东省人力资源和社会保障厅</p>
                        <p>技术支持：山东省人力资源社会保障信息中心</p>
                        <p>鲁ICP备10039682号</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
