
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Content/bootstrap-3.3.7-dist/js/jquery-2.0.3.min.js"></script>
    <script src="~/Content/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <title>2018年度职称评审申报指南</title>
    <style type="text/css">
        /*头部*/
		.banner-bg{
			width: 100%;
			height: 55px;
			background-color: #005EA0;
			position: fixed;
			top: 0px;
			left: 0px;
			z-index: 999;
		}
		.logo{
			/*background-image: url("../img/logo.png");*/
			background-repeat:no-repeat;
			width:936px;
			height:55px;
			background-position:left;
			float: left;
			padding-top:15px;
		}
		.right-search{
			width:264px;
			height:35px;
			float:right;
			margin-top:15px;
		}
        /*头部*/

        /*导航条*/
        .container {
            width: 100%;
        }
        .big-div{
			width: 1200px;
			margin: 0 auto;
			text-align:center;
		}
        .margin-top70{
			background-color: #005EA0;
			height:37px;
			margin-top: 70px;
			margin-bottom: 15px;
		}
        .banner-write{
			line-height: 37px;
			padding: 0px 35px;
			color: #fff;
			float: left;
			font-size: 14px;
		}
		.banner-write a{
			color:#fff;
			text-decoration:none;
				
		}
		.banner-write a:hover{
			text-decoration:none;
			color:#fcff00;	
		}
        /*导航条*/  
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="banner-bg">
                <div class="header-div">
                    <div class="logo">
                        <h3 style="color:white;font-weight:bold;font-size:25px; margin:0; padding-left:75px;">山东省职称申报评审系统</h3>
                    </div>
                    <div class="right-search">
                        <div class="container margin0">
                            <div class="search" id="search">
                                <input id="keywords" name="keywords" class="input" style="border-radius:3px; padding-left:7px;" type="text" placeholder="" x-webkit-speech="">
                                <input class="button" type="submit" onclick="SouSuo()" style="border-radius:2px;" value="搜索">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="big-div margin-top70">
                <div class="banner-write">
                    <a href="/Main/Declares">首页</a>
                </div>
                <div class="banner-write">
                    <a target="_blank" href="/Main/ToZhiGG">通知公告</a>
                </div>
                <div class="banner-write">
                    <a target="_blank" href="/Main/YeWuZhiNan">业务指南</a>
                </div>
                <div class="banner-write">
                    <a target="_blank" href="/Main/XiangGuanZhengCe">相关政策</a>
                </div>
                <div class="banner-write">
                    <a target="_blank" href="/Main/RenZhiZiGeTJ">任职资格条件</a>
                </div>
                <div class="banner-write">
                    <a target="_blank" href="/Main/ChangJianWenTi">常见问题</a>
                </div>
                <div class="banner-write">
                    <a target="_blank" href="/Main/GongZuoLiuChengJS">工作流程介绍</a>
                </div>
                <div class="banner-write">
                    <a target="_blank" href="/Main/LianXiWoMen">关于我们</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h3 class="text-center" style="color:#47a3c1; margin-bottom:20px;">2018年度职称评审申报指南</h3>
            </div>
        </div>
        <div class="row">
            <div style="width:1200px; margin-left:75px;">
                <div class="panel-body" style="border:10px groove red;margin-top:10px;">                   
                    <p class="text-left" style="margin-top:10px;">
                        一、申报范围和对象<br />
                        <br />
                        1、在岗的企事业单位、其他经济组织符合申报条件的专业技术人员；<br />
                        <br />
                        2、公务员和已到法定退休年龄（不含当年退休人员）的专业技术人员不得申报专业技术职务任职资格评审（国家有明确规定的除外）。<br />
                        <br />
                        违反国家计划生育政策、受到刑事处罚、行政处分、刑期和处分期未满三年的不得申报评审专业技术职务任职资格。<br />
                        <br />
                        二、基本申报条件<br />
                        <br />
                        1、正高（具备下列条件之—者，可申报评审正高级职务任职资格）<br />
                        <br />
                        （1）博士研究生毕业后，从事本专业技术工作七年以上，取得副高级任职资格，并从事副高级工作五年以上。<br />
                        <br />
                        （2）硕士研究生毕业后，从事本专业技术工作十三年以上，取得副高级任职资格，并从事副高级工作五年以上。<br />
                        <br />
                        （3）大学本科毕业后，从事本专业技术工作十五年以上，取得副高级任职资格，并从事副高级工作五年以上。<br />
                        <br />
                        （4）参加工作后取得本专业或相近专业的上述相同学历，取得副高级任职资格，并在取得达标学历后从事副高级工作五年以上。<br />
                        <br />
                        2、副高（具备下列条件之—者，可申报评审副高级职务任职资格）<br />
                        <br />
                        （1）博士研究生毕业后，取得中级任职资格，并从事中级工作二年以上。<br />
                        <br />
                        （2）硕士研究生毕业后，从事本专业技术工作八年以上，取得中级任职资格，并从事中级工作五年以上。<br />
                        <br />
                        （3）大学本科毕业后，从事本专业技术工作十年以上，取得中级任职资格，并从事中级工作五年以上。<br />
                        <br />
                        （4）参加工作后取得本专业或相近专业的上述相同学历，取得中级任职资格，并在取得达标学历后从事中级工作五年以上。<br />
                        <br />
                        3、中级（具备下列条件之—者，可申报评审中级职务任职资格）<br />
                        <br />
                        （1）硕士研究生毕业后从事本专业技术工作三年以上，或者博士研究生毕业，经考核可认定中级职务。<br />
                        <br />
                        （2）获得双学士学位或研究生毕业，从事本专业技术工作三年以上，取得助理级任职资格，并从事助理级工作三年以上。<br />
                        <br />
                        （3）大学本科毕业后，从事本专业技术工作五年以上，或大学专科毕业后，从事本专业工作七年以上，取得助理级任职资格，并从事助理级工作四年以上。<br />
                        <br />
                        （4）参加工作后取得本专业或相近专业的上述相同学历，取得助理级任职资格，并在取得达标学历后从事助理级工作四年以上。<br />
                        <br />
                        4、初级（具备下列条件之一者，可申报评审初级职务任职资格）全日制大、中专院校毕业生，所学专业与所从事专业相同，见习期满后可经评委会考核认定起点职务。<br />
                        <br />
                        所学专业与所从事专业不一致，以及在职人员取得职后学历的，应申报职称评审。<br />
                        <br />
                        （1）中专毕业，见习一年期满，可申报“员”级职务。<br />
                        <br />
                        （2）大专毕业，从事本专业技术工作三年，可申报“助理”级职务。<br />
                        <br />
                        （3）大学本科毕业，从事本专业技术工作一年，可申报“助理”级职务。<br />
                        <br />
                        三、申报职数控制和水平能力测试工作<br />
                        <br />
                        1、今年职改部门不再下达年度申报职数控制评审单，事业单位根据现有岗位及聘任情况调控管理，总量控制，推荐申报。<br />
                        <br />
                        实行岗位设置的事业单位应在单位岗位比例结构内推荐申报人员，各单位、行业主管部门按此要求自主决定备案申报职数，逐级报备人社局核定本年度申报职数。<br />
                        <br />
                        为做好职称评审与岗位聘用的有效衔接，逐步适应新要求，市直各行业主管部门、各县市区人社局应将本年度备案申报职数总量控制在2016年申报控制数总量内；<br />
                        <br />
                        对现有专业技术职务人数已超过岗位设置数的单位，原则上不得申报本级别的职称。<br />
                        <br />
                        特殊情况需申报的，采取单位申请、行业主管部门审核、人社部门确认本年度备案申报职数的方法处理。<br />
                        <br />
                        2、水平能力测试重点考察申报人员的专业水平和专业能力。测试根据专业特点，一般采取面试或笔试形式。<br />
                        <br />
                        2017年水平能力测试工作仍按照鄂职改办[2008]29号文件要求执行。<br />
                        <br />
                        各专业高级职称的测试工作，由相应高评委会办公室负责组织实施。<br />
                        <br />
                        申报人员按要求填写报名表，经县（市）或市职改办审查后报名参加测试。合格率实行60分、80%双线控制，合格证书有效期三年（含当年）。<br />
                        <br />
                        申报农业技术、工程技术、新闻、档案、图文群艺博专业系列的中、初级职称评审人员，在提交评审材料时交水平能力测试报名表，参加市评审中心组织的水平能力测试，成绩当年有效。<br />
                        <br />
                        中小学教师水平能力测试政策：一是申报正、副高级教师任职资格的水平能力测试人员，由省人事考试院统一组织实施，以笔试方式进行；<br />
                        <br />
                        二是乡镇所属学校（学校名单以网上公告为准）中小学校教师的高中初级水平测试，由本校自行组织，方式不限，合格即可进行推荐，推荐结果当年有效；<br />
                        <br />
                        三是宜昌城区（含县市城区）中小学教师的中初级水平能力测试，由宜昌市中小学教师评委会，统一标准，统一方式分学校实施<br />
                        <br />
                        教育和人社职改部门进行监督指导，合格即可进行推荐，推荐结果当年有效。<br />
                        <br />
                        卫生技术副高级水平能力测试仍然采取“人机对话”方式全市统一组织进行；申报“基卫高”人员必须参加年度卫生技术水平能力测试<br />
                        <br />
                        成绩未达到合格线的，须携带本年度卫生技术水平能力测试成绩通知单再参评前面试，成绩当年有效。<br />
                        <br />
                        援疆、援藏、援外等人员的免试政策继续执行 。<br />
                        <br />
                        中专教师申报高级职称人员，评教评学的结果可以作为水平能力测试的依据。<br />
                        <br />
                        近两学年中评教评学排名在后10%的人员不得申报评审。高校、中专应制定测试方案，报经市职改办批准后实施。<br />
                        <br />
                        四、有关政策及规定<br />
                        <br />
                        1、今年职称外语和计算机应用能力考试成绩不作为专业技术职务任职资格申报评审的前置必备条件，医古文、古汉语参照执行。<br />
                        <br />
                        其具体要求见各高评委会年度申报通知。宜昌卫生技术、中小学教师高评委会、各中级评委会将下调专业技术人员外语和计算机应用能力量化评审赋分分值，<br />
                        <br />
                        扩大外语和计算机应用能力材料申报范围，凡能反应其能力水平的证书、应用成果等皆可作为评价依据。<br />
                        <br />
                        2、 职称申报的破格、转评的审批权限，按人事管理权限下放。<br />
                        <br />
                        用人单位、主管部门和县市区职改办严格按相关条件申报，其相关表格会同申报材料一并上报（其中破格材料单独装订）<br />
                        <br />
                        再由市职改办审核后，报相关高评委会办公室，省职改办不再预先办理相关审批手续，在预审时集中复核。<br />
                        <br />
                        从2017年起，专业技术人员因岗位变动、专业调整需转评申报其他系列职称的，应先平级转评。<br />
                        <br />
                        转评后，晋升上一级职务时，原专业技术职务任职年限可以合并计算，但原专业岗位业绩不作为晋升依据。<br />
                        <br />
                        高校教师系列申报双师型的，应先取得主系列职称。专业技术人员同一年内不能申报两个以上职称。<br />
                        <br />
                        转评卫生、经济（企业生产经营管理人才除外）、会计（审计）、统计、翻译、出版、计算机软件等国家规定考试取得中级任职资格专业的<br />
                        <br />
                        原则上应通过该专业国家资格考试，方可申报高一级职务。<br />
                        <br />
                        3、委托评审和流动人员的申报。人事关系非我市管辖的，按人事管理权限委托评审。申报人员应在宜昌从业1年以上<br />
                        <br />
                        并提供近1年由我市社保部门出具的缴费证明和与用人单位签订的劳动合同。<br />
                        <br />
                        4、外省、外地专业技术职务任职资格的认定。专业技术职务任职资格按属地评审属地适用的原则执行；<br />
                        <br />
                        非我省、我市评审取得的高、中级专业技术职称任职资格的认定权限，由具有人事管理权限的主管部门、用人单位自行认定；<br />
                        <br />
                        职改办仅对申报晋升上一级职称的外地专业技术职务任职资格证书进行认定。<br />
                        <br />
                        5、起点职务认定。起点职务认定每年开展两次，8月、11月申报，9月、12月组织中、初级评审（认定）委员会开展复核认定工作，公示认定结果，再由职改办发文办证。<br />
                        <br />
                        6．各类特殊人才的申报评审办法。全职引进回国的海外优秀高层次人才，3年内首次申报时可比照同资历、水平人员相应条件申报评审；<br />
                        <br />
                        对已选聘为长江学者、楚天学者、百人计划、千人计划人员可申报评委会直接认定高级职称。<br />
                        <br />
                        经批准离岗或兼职创新创业的专业技术人才，3年内可在原单位按规定正常申报职称，其离岗或兼职期间的创新创业工作业绩，可以作为职称评审的依据。<br />
                        <br />
                        从机关调入或部队转业到企事业单位从事专业技术工作的人员，在现专业技术岗位工作1年以上，经单位考核和人社（职改）部门审核同意<br />
                        <br />
                        3年内可比照同资历人员相应条件直接申报评审副高级及以下专业技术职务。<br />
                        <br />
                        在我市就业的港澳台专业技术人员，以及持有永久居留证的外籍人员，可按规定参加职称评审。<br />
                        <br />
                        7、今年企业生产经营管理人才高级经济师专项评审。对象在我市注册登记3年以上各类企业中的生产经营管理人才<br />
                        <br />
                        （主要指企业的董事长、总经理、副董事长、副总经理、总经济师、总会计师等）。<br />
                        <br />
                        非公有制企业由市工商联合会组织申报，公有制企业由市、县市区两级人社（职改）部门组织申报。<br />
                        <br />
                        8、申报高级职称人员参评业绩材料（包括论文、著作、成果、奖励等）<br />
                        <br />
                        的计算截止时间为各高评委会和市专业技术资格评审中心受理材料的截止时间。<br />
                        <br />
                        9、中小学教师系列（含中专、高校讲师）的材料申报工作，由市教育局制定方案，报市职改办审核、省职办批准后，组织实施。<br />
                        <br />
                        卫生技术副高级的申报材料，市职称评审中心制定方案，省职改办批准后，组织实施。<br />
                        <br />
                        10、申报建设工程专业的人员材料中所填建设项目、设计项目应提供当地建设质量监督部门或建设主管部门出具的证明材料。<br />
                        <br />
                        11、县（市）区以上中小学教师、二级以上医疗机构的医务人员申报高级专业技术职务资格评审，应有在乡镇或城市社区单位服务的经历。<br />
                        <br />
                        12、行业主管部门要逐级对所属单位推荐、申报的程序进行监督、管理，并对申报材料真实性进行审核把关。<br />
                        <br />
                        人社职改部门实行“谁审核，谁签名，谁签名，谁负责”责任追究制度。<br />
                        <br />
                        五、申报途径及材料要求<br />
                        <br />
                        （一）申报途径：<br />
                        <br />
                        1、国有企事业单位有正式人事关系的人员，在本单位推荐申报；通过其他途径申报的，视为违规参评。<br />
                        <br />
                        2、非公有制单位人员、国有企事业单位临时聘用人员或社会流动人员，由用人单位推荐申报；档案在人事代理机构的专业技术人员由人事代理机构按程序申报。<br />
                        <br />
                        3、中央在宜单位人员，应经有委托资质的主管部门向省、市职改办出具委托评审函，其中高级经省职改办同意后向相关评委会发出接受函<br />
                        <br />
                        再报送评审材料；中初级经市职改办批准方可参加职称评审。<br />
                        <br />
                        （二）高级申报流程：<br />
                        <br />
                        1、网上个人申报及单位推送：<br />
                        <br />
                        2017年申报高级职称人员采取网上系统申报和纸质材料同时申报。<br />
                        <br />
                        个人通过网上申报系统入口（省人力资源和社会保障厅官网\职称评定专栏\网上申报）<br />
                        <br />
                        在网上完成个人账户注册并填报个人申报数据，推送至单位审核。<br />
                        <br />
                        推荐单位同时进入以上栏目，用上级主管部门分配的账号密码登陆系统，对申报人员申报材料进行审核，然后按管理权限将申报人申报材料推送到上级主管部门。<br />
                        <br />
                        个人申报和单位推送前，请认真仔细阅读操作说明，正确选填相关信息和推送路径。填报完毕后使用系统打印《任职资格申报人员综合情况一览表》。<br />
                        <br />
                        申报人员择优选取本人科研水平成果的代表作进行申报，所填写的各类科研项目、获奖项目及论文数量，均不得超过申报条件文件规定数量的1.5倍，超过视为无效。<br />
                        <br />
                        2、逐级审核<br />
                        <br />
                        各级业务主管部门、人事职改部门均在网上按职称相关政策要求对申报材料进行审核，审核通过后<br />
                        <br />
                        系统自动转给各专业高评委会办公室，各专业高评委会办公室再对申报材料进行审核，确定是否受理材料。<br />
                        <br />
                        3、报送纸质材料<br />
                        <br />
                        凡高评委会办公室同意受理材料的，申报人员将逐级审核、签字、盖章的纸质材料交由市职改办（评审中心）集中报送高评委会办公室。<br />
                        <br />
                        省职改办根据各市州职改办或各高评办上报的初审报告，对申报材料进行抽查，并对免试、破格、转评申报人员进行重点复核。<br />
                        <br />
                        （三）中、初级申报流程<br />
                        <br />
                        2017年申报中初级职称报送纸质材料。申报单位（个人）将纸质材料交市评审中心集中审核，时间为8月1日至20日， 纸质材料报送全过程要逐级审核、签字、盖章。<br />
                        <br />
                        （四）报送各高评委会纸质材料要求（中初级参照执行）<br />
                        <br />
                        A、统一要求报送的材料依照省制作“专业技术职务任职资格评审材料装订目录”，报送证明材料和业绩材料分别进行装订和装袋。主要包括：<br />
                        <br />
                        1、经单位核实、使用2017年版《湖北省职称管理信息系统》录入、打印的《任职资格申报人员花名册》一式2份及电子文本。<br />
                        <br />
                        2、纳入岗位设置管理的事业单位人员申报高、中级专业技术职务的，须在核准备案申报职数内申报，须提供行业主管部门报人社职改办备案的申报推荐名册。<br />
                        <br />
                        3、个人和用人单位分别签字、盖章的《申报专业技术任职资格诚信承诺书》和公示证明一式两份，一份进评审材料，一份由用人单位留存。没有提交承诺书和公示证明的不受理申报材料。<br />
                        <br />
                        4、《湖北省专业技术职务任职资格评审表》一式两份（在宜评审的高中初级一份）<br />
                        <br />
                        《评审表》第１页“相片”栏内粘贴本人近期免冠１寸照片（可加贴一张照片待评审通过后办证使用），详细填写表格内容，不可复印。<br />
                        <br />
                        5、经单位核实、使用2017年版《湖北省职称管理信息系统》录入、打印的《任职资格申报人员评审一览表》（份数按各评委会办公室通知要求）及电子文本。<br />
                        <br />
                        6、现任专业技术职务任职资格证书、聘任证书、学历证书复印件各一份，原件由市职改办审核，并在复印件上加盖公章、审核人签字。<br />
                        <br />
                        7、水平测试考试合格证复印件，原件由市职改办审核，并在复印件上加盖公章、审核人签字。免试审批表须提供原件。<br />
                        <br />
                        8、2015、2016年《专业技术职务年度考核登记表》各一份，提供《年度考核表》复印件的需经单位人事部门签字盖章。<br />
                        <br />
                        非国有单位未进行年度考核的，由所在单位提供书面说明。<br />
                        <br />
                        9、任现职以来获奖证书、专利证书、成果鉴定证书及经济、社会效益等主要业绩材料原件、复印件各1份。<br />
                        <br />
                        10、任现职以来正式发表、出版的代表性论文、著作原件和检索页，以及其它代表申报人学术、技术水平的材料原件等。<br />
                        <br />
                        11、个人专业技术工作总结一份。<br />
                        <br />
                        B、下列有关人员另须提交的材料：<br />
                        <br />
                        1、从机关到企事业单位从事专业技术工作的人员，提交证明其原公务员身份和到企事业单位工作的任职通知复印件，单位加盖公章、证明人签字。<br />
                        <br />
                        2、非公有制单位的人员，提交本人在本地连续一年缴纳社保的证明，及确认本人为该单位员工的有效证明原件。<br />
                        <br />
                        3、从国外引进的高层次人才，提交用人单位引进、调入文件复印件，单位加盖公章、证明人签字。<br />
                        <br />
                        4、申报高校教师、中学教师高级职务的人员提交近一学期教案,申报高级实验师的人员提交两份实验教案（复印件须加盖学校教务部门公章）。<br />
                        <br />
                        5、申报建设工程专业人员材料中所填建设、设计项目，须提交当地建筑质量监督机构或建设主管部门出具的证明材料。<br />
                        <br />
                        C、对申报材料有特殊要求的专业，按其申报通知的要求进行申报。<br />
                        <br />
                        申报人业绩材料经公示后须加盖单位公章（证书、证件等在复印件上加章）。<br />
                        <br />
                        不需装订的评审材料<br />
                        <br />
                        1、《专业技术职务任职资格申报人员花名册》一式2份（由报送单位核实、使用2017年版“湖北省职称工作信息系统”单位版录入、打印、盖章，并附电子文本）；<br />
                        <br />
                        2、《湖北省专业技术职务任职资格评审表》一式2份（其中在宜评审的高中初级一份），《评审表》第一页“相片”栏内粘贴本人近期免冠一寸照片，详细填写表格内容，不可复印；<br />
                        <br />
                        3、《任职资格申报人员评审一览表》（在宜评审高中级人员5份，报省评审的高级按各专业评委会通知要求）及电子文本。<br />
                        <br />
                        须按顺序装订两部分：评审资格条件材料、业绩材料（其中：报省高级资格材料和业绩材料分别装订；<br />
                        <br />
                        资格证书提供原件按审核权限审核后退还，申报高级人员业绩证明材料原件留专业评委会评审后退还）<br />
                        <br />
                        第一部分：<br />
                        <br />
                        1、须提供行业主管部门报人社职改办备案的申报推荐名册（限纳入岗位设置管理的事业单位）或缴纳社保凭证、委托评审函<br />
                        <br />
                        2、学历证书复印件<br />
                        <br />
                        3、专业技术职务任职资格证书、聘任证书复印件<br />
                        <br />
                        4、执业资格证书<br />
                        <br />
                        5、水平能力测试合格证、外语和计算机应用能力材料<br />
                        <br />
                        6、免试、转评、破格审批表原件<br />
                        <br />
                        7、机关调入、海外引进、非国有单位证明原件或复印件<br />
                        <br />
                        8、《任职资格申报人员评审一览表》原件一份<br />
                        <br />
                        第二部分：<br />
                        <br />
                        1、评审材料目录<br />
                        <br />
                        2、《个人申报专业技术任职资格诚信承诺书》原件<br />
                        <br />
                        3、用人单位公示证明原件<br />
                        <br />
                        4、《任职资格申报人员评审一览表》原件一份（其他装袋）<br />
                        <br />
                        5、2015、2016年《专业技术职务年度考核登记表》原件或复印件<br />
                        <br />
                        6、获奖证书、专利证书、成果鉴定证书及经济、社会效益等主要业绩材料复印件（原件装袋）<br />
                        <br />
                        7、继续教育学分证件或证书（含卫生到上级医院进修证明材料）<br />
                        <br />
                        8、本专业具有一定学术水平的代表作、著作和检索页复印件以及高校、中学、实验教案或临床病案等<br />
                        <br />
                        9、反映专业技术人员专业技术水平和能力的相关材料<br />
                        <br />
                        10、个人业务总结一份<br />
                        <br />
                        申报材料应严格按照要求填写，有关表格要求字迹工整，填写完整。<br />
                        <br />
                        六、申报受理时间及收费标准<br />
                        <br />
                        各县市区人社局、市直行业主管部门推荐高中级职称年度申报职数于7月15日前报市职改办备案确定，市职改办于7月20日前上报省职改办备案。<br />
                        <br />
                        高级职称全部实行网上申报，送省各高评委会评审申报材料时间按其通知执行；宜昌中小学教师系列的，统一报市教育局教师管理科，联系电话：6463801；<br />
                        <br />
                        8月1日至8月20日受理中、初级申报评审材料；9月1日至9月20日受理宜昌卫生技术副高级评审申报材料；<br />
                        <br />
                        收费标准按物价部门规定执行。<br />
                        <br />
                        相关专业评审委员会的文件、申报表格及申报系统均可从省、市人力资源及社会保障厅局网站下载。<br />
                        <br />
                        市人社局职称科办公地址：市沿江大道43号人社局1107室。电话：6056352、6056351。<br />
                        <br />
                        市职称评审中心办公地址：市沿江大道43号人社局1106室，电话：6056344、6056345。<br />
                        <br />
                    </p>
                    <p class="text-right">
                        山东职称改革工作领导小组办公室<br>
                        <br>
                        二〇一八年一月十六日<br>
                        <br>
                    </p>
                </div>
            </div>
        </div>
        <div class="row" style="width:1200px; margin-left:60px; border-top:2px solid #00a1fe;height:200px; margin-top:10px; background-color:#005ea0;">
        <div class="copyright" style="margin-top:30px;margin-left:80px;">
            <div class="container" style="height:95px;">
                <div style="float:left;margin-left:200px;display:inline;width:110px; text-align:center; overflow:hidden;padding-top:12px;">
                    <script id="_jiucuo_" sitecode='3700000027' src='http://pucha.kaipuyun.cn/exposure/jiucuo.js'></script>
                </div>
                <div style="float:left;display:inline;width:70px;text-align:center;overflow:hidden;">
                    <script type="text/javascript">document.write(unescape("%3Cspan id='_ideConac' %3E%3C/span%3E%3Cscript src='http://dcs.conac.cn/js/16/000/0000/60418909/CA160000000604189090002.js' type='text/javascript'%3E%3C/script%3E"));</script>
                </div>
                <div style="float:left;display:inline;width:500px; text-align:center; overflow:hidden;">
                    <p class="link"><a href="http://www.sdhrss.gov.cn/pages/jiaoliu/jzxx/wyxx_xz.html" style="color:brown;">厅长信箱</a>&emsp;|&emsp;<a href="http://www.sdhrss.gov.cn/pages/zdxxwh/50009.html" style="color:brown;">“庸懒散”专项治理举报电话</a>&emsp;|&emsp;<a href="http://www.sdhrss.gov.cn/pages/zdxxwh/52112.html" style="color:brown;">联系我们</a>&emsp;|&emsp;<a href="http://mail.sdhrss.gov.cn/extmail/cgi/index.cgi" target="_blank" style="color:brown;">邮箱登录</a></p>
                    <p style="color:white;">主办单位：山东人力资源和社会保障厅 版权所有：山东省人力资源和社会保障厅</p>
                    <p style="color:white;">技术支持：山东省人力资源社会保障信息中心</p>
                    <p style="color:white;">鲁ICP备10039682号</p>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script>
        //点击搜索刷新
        function SouSuo() {
            window.location.href = "/UnitHome/Notice/ShenBaoZhiNan";
        }
    </script>
</body>
</html>
